p {
  text-align: justify;
}

.pricing-area {
  margin-top: 1.5625rem;
}

.single-pricing {
  position: relative;
  text-align: center;
  margin: 0;
  padding: 50px;
  border-radius: 3px;
}

.easy {
  background-color: #2ab625ce;
  color: #fff;
}

.medium {
  background-color: #20861db4;
  color: #fff;
}

.hard {
  background-color: #165514b6;
  color: #fff;
}

.head-text {
  background-color: transparent;
  border-bottom: 0;
  padding: 0.9375rem 0;
  border-radius: 0.1875rem 0.1875rem 0 0;
}

.head-text h3 {
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 1.25rem;
  letter-spacing: 1px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fafafa;
}

.price-area .price-area span {
  font-weight: 600;
}
.price-area {
  position: relative;
  padding: 0.625rem 0;
  color: #fff;
  font-weight: 300;
  font-size: 4rem;
  line-height: 1;
}

.price-area span.duration {
  display: block;
  font-size: 0.75rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  letter-spacing: 1px;
  margin: 1.25rem 0 0 0.1875rem;
}

.price-area:after,
.feature-area {
  border: 0;
  font-family: "Lato", sans-serif;
}

.feature-area ul {
  margin: 0;
  padding: 0.9375rem 0;
  list-style: none;
}

.feature-area li {
  padding: 0.375rem 0;
  font-size: 0.875rem;
}

@media (max-width: 767px) {
  h3 {
    font-size: 1.25rem;
  }
  .single-pricing {
    margin-bottom: 1.875rem;
  }
}
