/*Specjalnie style galerii zostaly oddzielone od reszty strony*/

.fit-image {
  height: 100%;
  width: 100%;
}

#my-grid {
  margin-top: 3.125rem;
}

.grid-padding {
  padding: 0 0.5rem;
}

.grid-padding img {
  margin-bottom: 0.9375rem;
  transition: 0.8s ease;
}

.grid-padding img:hover {
  box-shadow: 0 0.625rem 2.5rem 0 rgba(39, 141, 18, 0.5);
  transition: 0.8s ease;
}

.col-md-4 {
  padding-right: 1.875rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding: 0.3125rem 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 85%;
  max-width: 75rem;
  border: none;
  background-color: transparent;
}

.my-slides {
  text-align: center;
}

/*Adjust image size */
.portrait-image {
  height: 98vh;
}

.landscape-image {
  width: 76vw;
}

/*Close Button */

.close {
  color: #fff;
  position: absolute;
  top: 0.625rem;
  right: 1.5625rem;
  font-size: 3rem;
  font-weight: bold;
  transition: 0.3s ease;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin-top: -3.125rem;
  color: #fff !important;
  font-weight: bold;
  font-size: 3rem;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.next:hover,
.prev:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  font-size: 1.25rem;
  font-weight: bold;
  font-size: 1.125rem;
  font-family: "Lato", sans-serif;
  padding: 0.5rem 3.125rem;
  position: absolute;
  top: 0;
  left: 0.625rem;
}
